<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}); %>
        <title>details</title>
</head>

<body>
    <%- include('nav',{}); %>
        <input type="text" placeholder="请输入文章标题"><br />
        <textarea name="" id="" cols="30" rows="10"></textarea>

</body>

</html>