<!DOCTYPE html>
<html>

<head>
  <%- include('head',{}); %>

    <title>
      <%= title %>
    </title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="libs/layui/css/layui.css" /> -->

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <h2>sefuosbf</h2>
  <h3>nfilsenfsd</h3>


  <button type="button" class="layui-btn">一个标准的按钮</button>
  <a href="http://www.layui.com" class="layui-btn">一个可跳转的按钮</a>
</body>

</html>