<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="libs/layui/css/layui.css" /> -->

    <%- include('head',{}); %>
        <title>login</title>


</head>

<body>
    <div class="layui-container" id="logreg_div">
        <div class="layui-row">
            <form class="layui-form" action="/users/login" method="POST">
                <div class="layui-form-item">
                    <!-- <label class="layui-form-label">用户名</label> -->
                    <div class="layui-input-block">
                        <input type="text" name="username" required placeholder="请输入用户名" maxlength="10"
                            class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <!-- <label class="layui-form-label">密码</label> -->
                    <div class="layui-input-block">
                        <input type="password" name="password" required placeholder="请输入密码" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block" id="login_mar">
                        <button class="layui-btn">登录</button>
                    </div>
                </div>
                <p id="lorep">没有账号,<a href="/regist">立即注册</a>!</p>
            </form>
        </div>
    </div>
</body>

</html>