<ul class="layui-nav">
  <li class="layui-nav-item">
    <a href="">控制台<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item">
    <a href="/">首页<span class="layui-badge-dot"></span></a>
  </li>
  <li class="layui-nav-item">
    <a class="active" href="/write">写文章</a>
  </li>
  <li class="layui-nav-item">
    <% if(userName) { %>
      <p style="color:#fff;line-height: 50px;font-size: 20px;">
        <%= userName %>

      </p>
      <% }else {%>
        <a href="/login">登录</a>
        <%}%>


  </li>
</ul>